# Don't check in the result of `go build`
bpdaily

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c` and
# test output files
*.test
*.out.csv

# Output of the go coverage tool
*.out

# Mac file system nonsense
.DS_Store
__debug_bin